/* You can add global styles to this file, and also import other style files */
.showslist-item{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.showslist-item__content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
